# Flutter/Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/
*.iml
*.ipr
*.iws
.idea/

# Android
*.apk
*.aab
*.ap_
*.dex
local.properties
*.class
gen/
out/
.gradle/
captures/
.externalNativeBuild/
.cxx/
.settings/
.project
.classpath

# Keys / Signing (IMPORTANT - never commit!)
*.jks
*.keystore
key.properties

# Debug info
build/debug-info/

# VS Code
.vscode/
*.code-workspace

# macOS
.DS_Store

# Miscellaneous
*.log
*.pid
